Soapserver/WebContent/wsdl/webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validateEmailAddress">
    <complexType>
     <sequence>
      <element name="_url" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateEmailAddressResponse">
    <complexType>
     <sequence>
      <element name="validateEmailAddressReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMail">
    <complexType>
     <sequence>
      <element name="urls" type="xsd:string"/>
      <element name="subject" type="xsd:string"/>
      <element name="content" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMailResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateEmailAddressResponse">

      <wsdl:part element="impl:validateEmailAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateEmailAddressRequest">

      <wsdl:part element="impl:validateEmailAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMailRequest">

      <wsdl:part element="impl:sendMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMailResponse">

      <wsdl:part element="impl:sendMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="webservice">

      <wsdl:operation name="validateEmailAddress">

         <wsdl:input message="impl:validateEmailAddressRequest" name="validateEmailAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateEmailAddressResponse" name="validateEmailAddressResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMail">

         <wsdl:input message="impl:sendMailRequest" name="sendMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendMailResponse" name="sendMailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="webserviceSoapBinding" type="impl:webservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateEmailAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateEmailAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateEmailAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="webserviceService">

      <wsdl:port binding="impl:webserviceSoapBinding" name="webservice">

         <wsdlsoap:address location="http://localhost:9527/Soapserver/services/webservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
